@font-face {
    font-family: Cinzel;
    src: url(./assets/fonts/Cinzel-Regular.ttf);
}

@font-face {
    font-family: Tinos;
    src: url(./assets/fonts/Tinos-Regular.ttf);
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Tinos';
    font-size: 18px;
    line-height: 1.5;
    color: rgb(75, 75, 75);
    background-color: rgb(202, 202, 202);
}

.header {
    height: 70px;
    align-items: center;
    background-color: rgb(75, 75, 75);
}

.main {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10%;
    flex-grow: 1;
}

.footer {
    height: 70px;
    background-color: rgb(75, 75, 75);
}

.nav {
    height: 100%;
}

.nav-list {
    position: relative;
    right: 100px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-family: 'Cinzel';
    font-size: 18px;
}

.nav-link {
    padding: 0 20px;
    line-height: 40px;
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
    color: rgb(167, 145, 145) 
}

.section {
    width: 50%;
    display: flex;
}

.main-section {
    width: 100%;
    justify-content: flex-end;
    align-items: center
}

.section-title {
    font-family: Roboto;
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(44, 44, 44);
}

.name {
    display: flex;
    position: relative;
    right: 250px;
    letter-spacing: 5px;
}

.my_photo {
    height: 240px;
    width: 240px;
    padding: 10px;
    background: rgb(75, 75, 75);
    position: relative;
    right: 500px;
    border-radius: 50%;
}